body {
    background-color: rgba(213, 255, 233, 0.461);
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}


label {
    margin-top: 1rem;
}

select, button {
    width: 50%;
    margin-top: .5rem;
}

